<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
    <br>
        <ol class="breadcrumb">
            <li>
                <a href="/">Home</a>
            </li>
            <li class="active">
                <strong>Registro de Modulos</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2"></div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title form-inline">
                </div>
                <div class="ibox-content">
                  <div class="row">
                    <div class="col-md-6 table-responsive">
                        <button data-toggle="modal" data-target="#Modalmod" class="btn btn-sm btn-primary"><strong>Nuevo Módulo</strong></button>

                       <h3 align="center">Modulos</h3>
                       <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>padre</th>
                                    <th>descripcion</th>
                                    {% for i in  estado %}
                                    {% if i.editar == 1 %}
                                    <th>Editar</th>
                                    {% endif %}
                                    {% if i.eliminar == 1 %}
                                    <th>Eliminar</th>
                                    {% endif %}
                                    {% endfor %}
                                    <th>#</th>
                                </tr>
                            </thead>
                            <tbody class="{{n}}">
                              {% include "seguridad/modulo/ajax_modulo.html" %}
                            </tbody>
                        </table> 
                    </div>
                    <div class="col-md-6 table-responsive">
                      <button data-toggle="modal" data-target="#Modalsubmod" class="btn btn-sm btn-primary"><strong>Nuevo Submódulo</strong></button>

                       <h3 align="center">SubMódulos</h3>
                       <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>descripcion</th>
                                    <th>url</th>
                                    {% for i in  estado %}
                                    {% if i.editar == 1 %}
                                    <th>Editar</th>
                                    {% endif %}
                                    {% if i.eliminar == 1 %}
                                    <th>Eliminar</th>
                                    {% endif %}
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody class="{{nm}}">
                            {% with padre='1' %}
                              {% include "seguridad/modulo/ajax_submodulo.html" %}
                            {% endwith %}
                            </tbody>
                        </table> 
                    </div>                    
                  </div>

                </div>
            </div>
        </div>
    </div>
</div>            
<div class="modalP"></div>
{% with nombre=formu n="mod" u=n %}
    {% include "seguridad/modal.html" %} 
{% endwith %}

{% with nombre=formu2 n="submod" u=nm url="registro_submodulo/" %}
    {% include "seguridad/modal.html" %} 
{% endwith %}


{% load static from  staticfiles %}
<script src="{%static 'js/base.js' %}"></script>