{% for p in expediente %}
  <tr>
    <th>{{forloop.counter}}</th>
    <td>{{p.nro}}</td>
    <td>{{p.asunto}}</td>
    <td>{{p.fecha}}</td>
    <td>{{p.fecha_expediente}}</td>
    <td>
    <a href="media/{{p.contenido}}" target="_blank">ver</a>
    </td>
    {% for i in  estado %}
    {% if i.editar == 1 %}
    <td>
      <a href="#">
        <i onclick="actualizar({{p.id}},'actualizar_expediente','{{n}}')" class="fa fa-pencil-square-o fa-2x"></i>
      </a>
    </td>
    {% endif %}

    {% if i.eliminar == 1 %}
    <td>
      <a onclick="eliminar({{p.id}},'eliminar_expediente','{{n}}')" href="#eliminar">
      <i style="color: red" class="fa fa-trash-o  fa-2x"></i>
      </a>
    </td>
    {% endif %}
  {% endfor %}
  </tr>
{% endfor %}

