<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
    <br>
        <ol class="breadcrumb">
            <li>
                <a href="/">Home</a>
            </li>
            <li class="active">
                <strong>Registro de Expedientes</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2"></div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title form-inline">
                    {% for i in  estado %}
                    {% if i.insertar == 1 %}
                      <button data-toggle="modal" data-target="#Modal"class="btn btn-sm btn-primary" type="submit"><strong>Nuevo</strong></button>
                    {% endif %}
                    {% if i.buscar == 1 %}
                    <input type="search" placeholder="Buscar" class="form-control Bex" style="width: 40%">
                    {% endif %}
                    <select class="form-control selEx" >
                      {% for c in  idcategoria %}
                        <option value="{{c.id}}"
                        {% if c.id == 1  %}
                                selected="selected"
                        {% endif %} >{{c.descripcion}}</option>
                      {% endfor %}
                    </select>  
                    <input class="form-control" onblur="nroPag(this,'{{url}}')" style="width:70px" type="number" id="selP" value="{{pag}}"> 
                </div>
                <div class="ibox-content table-responsive">
                     <h3 align="center">EXPEDIENTES</h3>    

                     <table class="table table-bordered" style="  margin-bottom: -5px;">
                          <thead>
                              <tr>
                                
                                  <th>#</th>
                                  <th>Número</th>
                                  <th>Asunto</th>
                                  <th>Fecha</th>
                                  <th>Fecha de Expediente</th>
                                  <th>Contenido</th>
                                  <th>Resolucion</th>
                                  <th>Estado</th>
                                  {% if i.editar == 1 %}
                                  <th>Editar</th>
                                  {% endif %}
                                  {% if i.eliminar == 1 %}
                                    <th>Eliminar</th>
                                  {% endif %}
                                {% endfor %}
                              </tr>
                          </thead>
                          <tbody class="{{n}}">
                            {% include "expediente/expediente/ajax_expediente.html" %}
                          </tbody>
                      </table> 
                      {% with lista as paginacion  %}
                          {% include "paginacion.html" %}
                      {% endwith %}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modalP"></div>


{% with nombre=formu n=p u=n%}
<div id="Modal{{n}}" class="modal fade" aria-hidden="true">
    
    <div class="modal-dialog">
    
        <div class="modal-content">
            <div class="modal-body">
                <h5>Formulario <small>llenar todos los campos</small></h5>

                
                    <div class="ibox-content">
                        <div class="row">
                            <form method="post" enctype="multipart/form-data" id="formulario{{n}}">
                            {% csrf_token %}
                            <div class="col-sm-6 b-r"><h3 class="m-t-none m-b">Expedientes</h3>
                                <label for="id_asunto">Categoría:</label>
                                <select name="idcategoria" class="form-control chosen-select" id="id_idcategoria" >
                                {% for c in  idcategoria %}
                                    <option value="{{c.id}}">{{c.descripcion}}</option>
                                {% endfor %}
                                </select>                            
                                <label for="id_nro">Nro de Expediente:</label>
                                {{formu.nro}}
                                <label for="id_fecha">Fecha:</label>
                                {{formu.fecha}}
                                <label for="id_fecha_expediente">Fecha de Expediente:</label>
                                {{formu.fecha_expediente}}
                                <label for="id_asunto">Asunto:</label>
                                {{formu.asunto}}


                            </div>
                            <div class="col-sm-6"><h4>Subir Expediente</h4>
                                <label for="id_asunto">Expediente:</label>
                                {{formu.contenido}}
                                <br>
                                <label for="id_resolucion">Resolucion:</label>
                                <br>
                                <select data-placeholder="resolucion..." name="idresolucion" multiple class="form-control chosen-select" id="id_idresolucion" >
                                {% for c in  idresolucion %}
                                    <option value="{{c.id}}">{{forloop.counter}} → <strong>{{c.numero}} </strong> </option>
                                {% endfor %}
                                </select>   
                                
                                <label for="estado">Estado:</label>
                                {{formu.estado}}                            
                            </div>

                            </form> 
                        </div>
                    </div>
        </div>


            <div class="modal-footer">
                <input class="btn btn-sm btn-primary" onclick="guardarF('{{url}}','{{n}}','{{u}}')"  type="button" value= "guardar"/>
                <button type="button" class="btn btn-sm  btn-danger" data-dismiss="modal"> Cancelar</button>
            </div>
            

        </div>

    </div>
</div>
{% endwith %}

            
{% load static from  staticfiles %}
<script src="{%static 'js/base.js' %}"></script>
<script src="{%static 'js/expediente.js' %}"></script>
           