{% extends "base.html" %}

{% block titulo %}plantilla boostrap en django{% endblock%}

{% block estilos %}
        <!-- Bootstrap Core CSS -->
    <link href=" css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href=" font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
{% endblock%}


{% block contenido  %}
    <div class="container">

      <form method="POST" class="form-signin col-md-4">
        {% csrf_token %}
        <h2 class="form-signin-heading">Inicie Sesión</h2>
        <h3>{{msm}}</h3>
        <div class="form-group">
            <label for="inputEmail">USUARIO:</label>
            {{login.usuario}}
        </div>
        <div class="form-group">
            <label for="inputPassword">Contraseña:</label>
            {{login.password}}
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Iniciar</button>
      </form>

    </div> <!-- /container -->

{% endblock%}