{% for p in lista %}
  <tr>
    <th>{{forloop.counter}}</th>
    <td>{{p.nro}}</td>
    <td>{{p.asunto}}</td>
    <td>{{p.fecha|date:"d/m/Y"}}</td>
    <td>{{p.fecha_expediente|date:"d/m/Y"}}</td>
    <td>
    <a href="media/{{p.contenido}}" target="_blank">ver</a>
    </td>
    <td>
    <ol>
    {% for a in p.idresolucion.all  %}
        <li>{{a.numero}} → <a href="media/{{a.contenido}}" target="_blank">ver</a></li>
    {% endfor %}
    </ol>
    </td>  
    <td>
        {{p.estado}}
    </td>  
  </tr>
{% endfor %}

