<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
    <br>
        <ol class="breadcrumb">
            <li>
                <a href="/">Home</a>
            </li>
            <li class="active">
                <strong>Registro de Permisos</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2"></div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title form-inline">
                </div>
                <div class="ibox-content">
                     <h3 align="center">Permisos</h3>
                    <div class="col-lg-5"></div>
                    <div class="col-lg-2">
                    <select name="" class=" form-control">
                          {% for i in permisos1 %}
                            <option value="{{i.iduser_id}}">{{i.iduser__usuario}}</option>
                          {% endfor %}
                    </select>                       
                     </div>
                    <div class="col-lg-5"></div> 
                    <br><hr>
                     <table class="table table-bordered">
                          <thead>
                              <tr>
                                  <th>buscar</th>
                                  <th>editar</th>
                                  <th>insertar</th>
                                  <th>Eliminar</th>
                                  <th>imprimir</th>
                              </tr>
                          </thead>
                          <tbody class="{{n}}">
                            {% include "seguridad/permisos/ajax_permisos.html" %}
                          </tbody>
                      </table> 
                </div>
            </div>
        </div>
    </div>
</div>            



{% load static from  staticfiles %}
<script src="{%static 'js/base.js' %}"></script>