<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
    <br>
        <ol class="breadcrumb">
            <li>
                <a href="/">Home</a>
            </li>
            <li class="active">
                <strong>Registro de Expedientes</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2"></div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title form-inline">
                   
                    <input type="search" placeholder="Buscar" class="form-control" style="width: 40%">
                    <button data-toggle="modal" data-target="#Modal"class="btn btn-sm btn-primary" type="submit"><strong>Nuevo</strong></button>
                </div>
                <div class="ibox-content">
                                salasld
                </div>
            </div>
        </div>
    </div>
</div>

{% with "expediente" as nombre  %}
    {% include "seguridad/modal.html" %} 
{% endwith %}
           