{% for p in userBlock %}
  <tr>
    <td>{{p.username}}</td>
    <td>{{p.ip_address}}</td>
    <td>{{p.user_agent}}</td>
    <td>{{p.attempt_time}}</td>
    <td>{{p.failures_since_start}}</td>
    <td>
        {% csrf_token %}
        {% if p.failures_since_start >= 5 %}
         <a href="#" onclick="userBlock({{p.id}})">
           <i style="color: red" title="unblock"  class="fa fa-unlock-alt fa-2x"></i>
        </a>
        {% else %}
          <i style="color: #1ab394" class="fa fa-unlock fa-2x"></i>
        {% endif %}
    </td>

  </tr>
{% endfor %}

