{% load static from  staticfiles %}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
    <br>
        <ol class="breadcrumb">
            <li>
                <a href="/">Home</a>
            </li>
            <li class="active">
                <strong>Usuarios bloqueados</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2"></div>
</div>

 
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title form-inline">
                    <h3 align="center">Usuarios Bloqueados</h3>
                    {% for i in  estado %}
                    {% if i.buscar == 1 %}
                    <input type="search" placeholder="Buscar" class="form-control Bo" style="width: 40%">
                    {% endif %}
                    {% endfor %}
                    <select class="form-control selus" >
                        <option value="0">desbloqueado</option>
                        <option value="5">bloqueado</option>
                    </select>                      
                    <input class="form-control" onblur="nroPag(this,'{{url}}')" style="width:70px" type="number" id="selP" value="{{pag}}"> 
                </div>
                <div class="ibox-content table-responsive">
                       
                     <table class="table table-bordered">
                          <thead>
                              <tr>
                                  <th>Usuario</th>
                                  <th>IP</th>
                                  <th>Maquina</th>
                                  <th>Tiempo de Entrada</th>
                                  <th>Número de Intentos de Sesión</th>
                                  {% for i in  estado %}
                                  {% if i.editar == 1 %}
                                  <th>Estado</th>
                                  {% endif %}
                                  {% endfor %}
                                  
                              </tr>
                          </thead>
                          <tbody class="ublock">
                            {% include "seguridad/userBlock/ajax_user_block.html" %}
                          </tbody>
                      </table> 
                      {% with lista as paginacion  %}
                          {% include "paginacion.html" %}
                      {% endwith %}                           
                </div>
            </div>
        </div>
    </div>
</div>            

<script>
  function userBlock(id,ni){
    $.post('user_block/','csrfmiddlewaretoken='+$("[name='csrfmiddlewaretoken']").val()+'&id='+id+'&ni='+ni, function(data) {
      $("table .ublock").empty().html(data);
      if(ni != 5){
        AlSave("usuario desbloqueado");
      }else{
        AlDelete("usuario bloqueado");
      }
       
    });
      
  }
  $(".Bo").keyup(function(){
    $.get('busq_ajax_us/',{'datos':$(this).val().toLowerCase(),'d':'v'}, function(data){
        $(".ublock").empty().html(data);
    });
  });
  $(".selus").change(function(){
    $.get('busq_ajax_us/',{'datos':$(this).val().toLowerCase(),'d':'b'}, function(data){
        $(".ublock").empty().html(data);
    });
  });
</script>